<!DOCTYPE html> 
<html>
    <head>
        <title>About</title>
        <link rel="icon" href= "/image/weather.png"> 
        <link rel="stylesheet" href="./css/style.css"> 
    </head>
<body>
    <div class="main_content">
        {{> header}} 
        <h3> About  Page</h3>  
        <p>This site was created by Shanmukanand. It uses data from mapbox and weatherstack</p>
        <img class= "potrait" src="./image/DSC_1728 .jpg">  
        <h2>Hi, I am {{name}}. My age is {{age}}</h2> 
    </div>
    
    {{>footer}}

</body>
</html>