<!DOCTYPE html> 
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1> {{>header}}</h1>
        <p>{{title}}</p>
        <h2>{{>footer}}</h2>
    </body>
</html>