<!DOCTYPE html> 
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href= "/image/weather.png"> 
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class= "main_content">
            {{> header}} 
            <h2>Help Page</h2>
            <p>I am {{name}}. I am currently using {{website}} url.</p>


        </div>
       
        {{>footer}}
    </body>
</html>